#   mainboard:
#     ls /dev/serial/by-id/*
#     ls /dev/serial/by-path/*
#	  sudo service klipper stop
#     make flash FLASH_DEVICE=/dev/serial/by-id/usb-Klipper_stm32h723xx_2A0010000851323235363233-if00
#	  sudo service klipper start
#
#   other boards
#     First try to flash with actual uuid. This will set the board into boot mode. After that you should be able to flash with the flash uuid.
#     ~/klippy-env/bin/python3 ~/klipper/scripts/canbus_query.py
# 
#     ~/klippy-env/bin/python3 lib/canboot/flash_can.py -i can0 -u 35cbd4021f2c -f out/klipper.bin 
#     ~/klippy-env/bin/python3 lib/canboot/flash_can.py -i can0 -u 58a72bb93aa4 -f out/klipper.bin 


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_2A0010000851323235363233-if00
restart_method:command

[mcu indxmcu]
serial: /dev/serial/by-id/usb-Bondtech_INDX_F48EE1FA4138505320202051330507FF-if00
is_non_critical: False
restart_method:command

[mcu heater]
#canbus_uuid: 58a72bb93aa4          #uuid for flashing
canbus_uuid: 35cbd4021f2c

[beacon]
serial: /dev/serial/by-id/usb-Beacon_Beacon_RevH_7F726BC35157383837202020FF061D42-if00
restart_method:command
is_non_critical: True