[gcode_macro _global_var]
variable_z_maximum_lifting_distance: 350
gcode:


[gcode_macro START_PRINT]
gcode:
    mainled_on
    M117 Print start
    status_busy
    PREPARE
	{% set EXTRUDER_TEMP = params.EXTRUDER|default(210)|float %}
    {% set BED_TEMP = params.BED|default(0)|float %}
    {% set CHAMBER = params.CHAMBER_TEMP|default(0)|float %}
    {% set EX_FAN = params.EX_FAN %}
    {% set PLATE = params.PLATE %}
    {% set initial_tool = params.INITIAL_TOOL|default("0")|int %}
    {% set min_temp = 50 %}
    {% set max_temp = 100 %}
    {% set min_soak = 120 %} #180
    {% set max_soak = 180 %} #1200
    
    RESPOND MSG="-----------PRINT STATUS------------------"
    RESPOND MSG="  ⚙️ PLATE TYPE:		{PLATE}"
    RESPOND MSG="  ⚙️ BED TEMP:			{BED_TEMP}"
    RESPOND MSG="  ⚙️ CHAMBER TEMP:		{CHAMBER}"
    RESPOND MSG="  ⚙️ EXHAUST FAN:		{EX_FAN} %"


   {% if BED_TEMP < 75 %}
        PID_PROFILE LOAD=bed_60 HEATER=heater_bed
        M117 Low temp. PID profile loaded
   {% elif BED_TEMP > 75 %}
        PID_PROFILE LOAD=bed_100 HEATER=heater_bed
        M117 High temp. PID profile loaded
   {% endif %}
    
    M140 S{BED_TEMP}
    {% if CHAMBER>0 %}
        M141 S{CHAMBER}
    {% endif %}
    G4 P300
    M400
    G28
    TIMELAPSE_TAKE_FRAME
    M400
    {% if PLATE=="High Temp Plate" %}
    	    RESET_GLOBAL_Z
    {% else %}
    	    RESET_GLOBAL_Z
  	#	    ADJUST_GLOBAL_Z ADJUST=0.1
    {% endif %}
    G1 X40 Y40 Z25
    M117 Heating bed
    status_temp_bed
    M190 S{BED_TEMP}
    status_busy
  
    {% if BED_TEMP < min_temp %}
        {% set bed = min_temp %}
    {% elif BED_TEMP > max_temp %}
        {% set bed = max_temp %}
    {% else %}
        {% set bed = BED_TEMP %}
    {% endif %}
    {% set soak_time = min_soak
       + ((bed - min_temp)|float
       * (max_soak - min_soak)
       / (max_temp - min_temp)) %}

    {% set soak_time = soak_time|int %}

        {% for i in range(soak_time) %}
          {% set remaining = soak_time - i %}
           M117 Remaining heat soak time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
           G4 P1000
       {% endfor %}
       
    M400
    M117 QGL
    QUAD_GANTRY_LEVEL
    G90
    M117
    M117 Bed mesh
    status_meshing
    BED_MESH_CALIBRATE METHOD=beacon PROFILE=default ADAPTIVE=0
    status_busy
    M400
	G90
    G1 Z15 F600
	G1 X50 Y50 F12000
    {% if CHAMBER>0 %}
        M117 Wait for chamber temp
        M191 S{CHAMBER}
        SET_FAN_SPEED FAN=chamber_fan SPEED=0.9
    {% endif %}
    M117 Heating nozzle to print temp
    T{initial_tool}
    SET_FAN_SPEED FAN=exhaust SPEED={EX_FAN}
    status_temp
    M109 S{EXTRUDER_TEMP}
    status_ready
  	M118 ... Printing ...
    M117 ... Printing ...
    SKEW_PROFILE LOAD=calilantern_skew_profile
    BED_MESH_PROFILE LOAD="default"
    mainled_50
    status_printing
	M400

[gcode_macro END_PRINT]
description: 
gcode:
    M117 Print end
    M118 Print end
    STATUS_BUSY
    M73 P100 R0
    M140 S0
    M141 S0
    SET_FAN_SPEED FAN=exhaust SPEED=1.0
    TIMELAPSE_TAKE_FRAME
    {% set z_max = printer['gcode_macro _global_var'].z_maximum_lifting_distance|int %}
    {% if printer.toolhead.homed_axes|lower == "xyz" %}
        G91
        G92 E0
        G1 E-1 F2700
        G92 E0
        PARK_TOOL
        CLEAR_ACTIVE_SPOOL
		G91
		G1 Z+5
		G90
      	G1 X3 Y487 F9000
		G91
        {% if (printer.gcode_move.position.z + 300) < z_max %}
            G1 Z+300 F3000
        {% else %}
            G1 Z+{(z_max - printer.gcode_move.position.z)} F3000
        {% endif %}
        G90
    {% endif %}
    M104 S0
    M106 S0
    SET_FAN_SPEED FAN=exhaust SPEED=0.8
    SET_FAN_SPEED FAN=chamber_fan SPEED=0.8
    TIMELAPSE_TAKE_FRAME
    M400
      {% for i in range(120) %}
           {% set remaining = 120 - i %}
            M117 Remaining main cool down time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
            G4 P1000
      {% endfor %}
      M400
    SET_FAN_SPEED FAN=exhaust SPEED=0.4
    SET_FAN_SPEED FAN=chamber_fan SPEED=0.4
      {% for i in range(300) %}
           {% set remaining = 300 - i %}
            M117 Remaining cool down time: {"%02d:%02d" % (remaining // 60, remaining % 60)}
            G4 P1000
      {% endfor %}
    _ALL_FAN_OFF
    TURN_OFF_HEATERS
    LOWCURRENT
    TIMELAPSE_TAKE_FRAME
    RESET_GLOBAL_Z
    #  ADJUST_GLOBAL_Z ADJUST=0.1
    M84
    mainled_off
    SET_SKEW CLEAR=1
    PREPARE
    M117 Print finished!
    M118 Print finished!
    STATUS_READY

[gcode_macro PREPARE]
gcode:
    SET_VELOCITY_LIMIT ACCEL=10000 VELOCITY=500 SQUARE_CORNER_VELOCITY=6 MINIMUM_CRUISE_RATIO=0.4
    BED_MESH_CLEAR
    CLEAR_PAUSE
    M400
    M220 S100
    M221 S100
    M400

[gcode_macro mainled_on]
gcode:
    SET_LED LED=main_led WHITE=1.0 TRANSMIT=1

[gcode_macro mainled_50]
gcode:
    SET_LED LED=main_led WHITE=0.50 TRANSMIT=1

[gcode_macro mainled_off]
gcode:
    SET_LED LED=main_led WHITE=0.0 TRANSMIT=1
    
[gcode_macro _IDLE_TIMEOUT]
gcode:
    {% if printer.print_stats.state == "paused" %}
      	RESPOND TYPE=echo MSG="Printer paused, no timeout"
    {% else %}
    	M84
    	_ALL_FAN_OFF
    	TURN_OFF_HEATERS
    	LOWCURRENT
    {% endif %}

[gcode_macro _ALL_FAN_OFF]
gcode:
    M106 S0
    M107
    SET_FAN_SPEED FAN=exhaust SPEED=0.0
    M141 S0

[gcode_macro Z_to_max]
gcode:
  G1 Z390 F1800
  G1 Z410 F1200
  G1 Z420 F400

[gcode_macro LOWCURRENT]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=1.8
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=1.8
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=0.8
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=0.8
    G4 P1500

[gcode_macro HIGHCURRENT]
gcode:
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT=2.8
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT=2.8
    SET_TMC_CURRENT STEPPER=stepper_z CURRENT=1.2
    SET_TMC_CURRENT STEPPER=stepper_z1 CURRENT=1.2
    SET_TMC_CURRENT STEPPER=stepper_z2 CURRENT=1.2
    SET_TMC_CURRENT STEPPER=stepper_z3 CURRENT=1.2
    G4 P1500
    
[delayed_gcode _LOWCURRENT_WAIT]
initial_duration: 3.0
gcode:
    LOWCURRENT

[gcode_macro SET_ACTIVE_SPOOL]
gcode:
  {% if params.ID %}
    {% set id = params.ID|int %}
    {action_call_remote_method("spoolman_set_active_spool", spool_id=id)}
  {% else %}
    {action_respond_info("Parameter 'ID' is required")}
  {% endif %}

[gcode_macro CLEAR_ACTIVE_SPOOL]
gcode:
  {action_call_remote_method("spoolman_set_active_spool", spool_id=None)}


# uncomment bed screws in printer.cfg #
#[gcode_macro SCREWS_TILT_CALCULATE]
#rename_existing: SCREWS_TILT_CALCULATE_1
#gcode:
#	SCREWS_TILT_CALCULATE_1
#    G1 Y400 Z350

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True

[gcode_macro M109]
rename_existing: M99109
gcode:    
    {% set s = params.S|float %}    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s-1} MAXIMUM={s+1}
    {% endif %}
    
[gcode_macro M190]
rename_existing: M99190
gcode:    
    {% set s = params.S|float %}
    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s-2} MAXIMUM={s+2}
    {% endif %}

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_BASE
gcode:
	status_leveling
    QUAD_GANTRY_LEVEL_BASE
    status_ready