#######################################
##       CONFIG
#######################################

[neopixel status_led]
pin: PB10
chain_count: 8
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0


#######################################
##       EFFECTS
##       USE
##       layers:
##            effect   effect rate   cutoff   blending method   color palette (R,G,B),(R,G,B),(R,G,B), ....
#######################################

	
[led_effect fault]
autostart: false
frame_rate: 24
leds:
    neopixel:status_led
layers:
    breathing 4 2 top (1,0,0)

[led_effect busy]
autostart: false
frame_rate: 24
leds:
    neopixel:status_led
layers:
    breathing 4 2 top (0,0.8,0)

[led_effect ready]
leds:
    neopixel:status_led
autostart: true
frame_rate: 24
layers:
    gradient 0.3 1 add (0.3, 0.0, 0.0),(0.0, 0.3, 0.0),(0.0, 0.0, 0.3)

[led_effect dock]
autostart: false
frame_rate: 24
leds:
    neopixel:status_led (1,2,3,4,5,6,7,8)
layers:
        comet 0.60 1 add (0.0, 0.0, 0.80),(0.0, 0.0, 0.60),(0.0, 0.0, 0.4)

[led_effect undock]
autostart: false
frame_rate: 24
leds:
    neopixel:status_led (8,7,6,5,4,3,2,1)
layers:
        comet 0.60 1 add (0.0, 0.0, 0.80),(0.0, 0.0, 0.60),(0.0, 0.0, 0.4)

[led_effect nudge_1]
autostart: false
frame_rate: 24
leds:
    neopixel:status_led (1,2,3,4,5,6,7,8)
layers:
        comet 0.40 1 add (0.0, 0.0, 0.80),(0.0, 0.0, 0.60),(0.0, 0.0, 0.4)

#######################################
##       MACROS
#######################################

[gcode_macro set_status_off]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED LED=status_led RED=0 GREEN=0 BLUE=0 INDEX=1 TRANSMIT=1
    G4 P500

[gcode_macro set_status_on]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED LED=status_led RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=1
    G4 P500

[gcode_macro status_busy]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED_EFFECT EFFECT=busy
    G4 P500

[gcode_macro status_fault]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED_EFFECT EFFECT=fault
    G4 P500
    
[gcode_macro status_ready]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED_EFFECT EFFECT=ready
    G4 P500

[gcode_macro status_undock]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED_EFFECT EFFECT=undock
    G4 P500

[gcode_macro status_dock]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED_EFFECT EFFECT=dock
    G4 P500

[gcode_macro status_nudge]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
    SET_LED_EFFECT EFFECT=nudge_1
    G4 P500

[gcode_macro status_temp]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
	NEOPIXEL_DISPLAY LED=status_led TYPE=extruder_temp MODE=progress
    G4 P500

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    NEOPIXEL_DISPLAY LED=status_led TYPE=clear
	NEOPIXEL_DISPLAY LED=status_led TYPE=print_percent MODE=progress
    G4 P500

    
#######################################
##       PROGRESS BAR MACRO
#######################################

# NEOPIXEL_DISPLAY LED=status_led TYPE=print_percent MODE=progress
# This macro command will show print completion in progress mode.

# for TYPE use:
# extruder_temp     :extruder temperature progress
# bed_temp          :bed temperature progress
# print_percent     :print progress
# printer_speed     :printer speed
# clear             :will clear any previous template assigned to the LED

# for MODE use:
# progress          :the leds will light up one by one
# glow              :all leds will fade from one color (or non) to other color

# more info: https://github.com/digitalninja-ro/klipper-neopixel/blob/master/README.md

[gcode_macro NEOPIXEL_DISPLAY]
gcode:
    {% set led = params.LED %}
    {% set type = params.TYPE %}
    {% set mode = params.MODE %}
    {% set my_neopixel = printer.configfile.settings['neopixel ' ~ led|lower] %}

    {% if type == 'clear' %}
        SET_LED_TEMPLATE LED={led} TEMPLATE=""
        SET_LED LED={led} RED=0 GREEN=0 BLUE=0 
    {% else %}
        {% if mode == 'progress' %}
            {% for i in range(my_neopixel.chain_count) %}
                SET_LED_TEMPLATE LED={led} INDEX={i+1} TEMPLATE={'led_' ~ type ~ '_' ~ mode} param_led_num={i+1} param_led_total={my_neopixel.chain_count}
            {% endfor %}
        {% endif %}
        {% if mode == 'glow' %}
            SET_LED_TEMPLATE LED={led} TEMPLATE={'led_' ~ type ~ '_' ~ mode}
        {% endif %}
    {% endif %}


[display_template led_extruder_temp_glow]
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.settings.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp %}
    {ratio}, 0.0, {1-ratio}, 0.0

[display_template led_extruder_temp_progress]
param_led_num:  0
param_led_total: 1
text:
    {% if printer.extruder.target > 0.0 %}
        {%  set temp = printer.extruder.target %}
    {% else %}
        {% set temp = printer.configfile.settings.extruder.max_temp %}
    {% endif %}
    {% set ratio = printer.extruder.temperature / temp %}
    {% set led_ratio = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        {led_ratio}, 0.0, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_bed_temp_glow]
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.settings.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp %}
    {ratio}, 0.0, {1-ratio}, 0.0

[display_template led_bed_temp_progress]
param_led_num:  0
param_led_total: 1
text:
    {% if printer.heater_bed.target > 0.0 %}
        {%  set temp = printer.heater_bed.target %}
    {% else %}
        {% set temp = printer.configfile.settings.heater_bed.max_temp %}
    {% endif %}
    {% set ratio = printer.heater_bed.temperature / temp %}
    {% set led_ratio = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        {led_ratio}, 0.0, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_print_percent_glow]
text:
    {% set ratio = printer.virtual_sdcard.progress %}
    0.0, {ratio}, 0.0, 0.0

[display_template led_print_percent_progress]
param_led_num:  0
param_led_total: 1
text:
    {% set ratio = printer.virtual_sdcard.progress %}
    {% set led_ratio   = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        0.0, {led_ratio}, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}

[display_template led_printer_speed_glow]
text:
    {% set ratio  = printer.motion_report.live_velocity /  printer.configfile.settings.printer.max_velocity %}
    0.0, {ratio}, 0.0, 0.0

[display_template led_printer_speed_progress]
param_led_num:  0
param_led_total: 1
text:
    {% set ratio  = printer.motion_report.live_velocity /  printer.configfile.settings.printer.max_velocity %}
    {% set led_ratio    = param_led_num|float / param_led_total %}
    {% if ratio > led_ratio %}
        0.0, {led_ratio}, 0.0, 0.0
    {% else %}
        0.0, 0.0, 0.0, 0.0
    {% endif %}
