[gcode_macro poop_wipe]
gcode:
	{% set target_temp = printer[printer.toolhead.extruder].target | float %}
    {% set homing = printer["gcode_macro G28"].homing %}
	M118 Poop
    M117 Poop
	M106 S128
	G1 X0 Y100 F6000					# move to pre position
   		 {% if target_temp>0 %}
			M104 S{target_temp}
   		    G1 X-4 F1000					# move to poop position while heating
   		    M109 S{target_temp}
 		{% else %}
  		  	M104 S240						# if no temperature is set, use 240
 		    G1 X-4 F1000
 		    M109 S240
		{% endif %}

    {% if homing == 0 %}					# poop only if NOT homing
    	_client_linear_move E=25 F=480		# poop
   		_client_linear_move E=-0.3 F=520	# minimal retract to avoid oozing
    {% endif %}
    
    M118 Wipe
    M117 Wipe
    G1 X-4 Y75 F6000					# start wipe position
    G1 X-4 Y36 F6000					# wipe
    G1 X-3.5 Y75
    G1 X-3.5 Y45
    G1 X-4.0 Y75
    G1 X-4.0 Y45
    G1 X-3.5 Y75
    G1 X-3.5 Y45
    G1 X-4.0 Y75
    G1 X-4.0 Y45
    M106 S0
    G1 X5 Y100 F6000					# move to safe position
    M117								# clear messages
    {% if target_temp>0 %}
		M109 S{target_temp}
    {% else %}
    	M109 S0
    {% endif %}
    #G91
    #G1 Z+5
    G90